In [1]:
import pandas as pd

In [4]:
tf_data=pd.read_csv("datasets/csv/AUDUSD_M1.csv")

In [ ]:
for index in tf_data.index.values:
    print(tf_data.loc[index])

2003.08.04    2003.08.04
00:00              00:01
0.65122          0.65146
0.65157          0.65155
0.6512           0.65115
0.65157.1        0.65149
50                   248
Name: 0, dtype: object
2003.08.04    2003.08.04
00:00              00:02
0.65122           0.6515
0.65157          0.65156
0.6512           0.65125
0.65157.1         0.6515
50                    94
Name: 1, dtype: object
2003.08.04    2003.08.04
00:00              00:03
0.65122          0.65143
0.65157          0.65149
0.6512           0.65129
0.65157.1        0.65139
50                   588
Name: 2, dtype: object
2003.08.04    2003.08.04
00:00              00:04
0.65122           0.6514
0.65157          0.65159
0.6512           0.65118
0.65157.1        0.65118
50                   126
Name: 3, dtype: object
2003.08.04    2003.08.04
00:00              00:05
0.65122          0.65132
0.65157           0.6516
0.6512           0.65119
0.65157.1        0.65119
50                   116
Name: 4, dtype: object
2003.08.04    2003.08.04
00:00              00:06
0.65122           0.6512
0.65157           0.6516
0.6512           0.65111
0.65157.1         0.6516
50                    86
Name: 5, dtype: object
2003.08.04    2003.08.04
00:00              00:07
0.65122          0.65158
0.65157          0.65164
0.6512           0.65112
0.65157.1        0.65136
50                   192
Name: 6, dtype: object
2003.08.04    2003.08.04
00:00              00:08
0.65122          0.65144
0.65157          0.65162
0.6512           0.65126
0.65157.1        0.65134
50                   244
Name: 7, dtype: object
2003.08.04    2003.08.04
00:00              00:09
0.65122          0.65141
0.65157          0.65159
0.6512           0.65126
0.65157.1        0.65135
50                   250
Name: 8, dtype: object
2003.08.04    2003.08.04
00:00              00:10
0.65122          0.65131
0.65157          0.65147
0.6512           0.65122
0.65157.1        0.65138
50                   197
Name: 9, dtype: object
2003.08.04    2003.08.04
00:00              00:11
0.65122          0.65139
0.65157          0.65161
0.6512           0.65121
0.65157.1        0.65123
50                   387
Name: 10, dtype: object
2003.08.04    2003.08.04
00:00              00:12
0.65122          0.65127
0.65157          0.65159
0.6512           0.65127
0.65157.1        0.65137
50                   109
Name: 11, dtype: object
2003.08.04    2003.08.04
00:00              00:13
0.65122          0.65134
0.65157          0.65166
0.6512           0.65134
0.65157.1        0.65136
50                   699
Name: 12, dtype: object
2003.08.04    2003.08.04
00:00              00:14
0.65122          0.65142
0.65157          0.65146
0.6512            0.6512
0.65157.1         0.6512
50                   147
Name: 13, dtype: object
2003.08.04    2003.08.04
00:00              00:15
0.65122          0.65131
0.65157          0.65161
0.6512            0.6513
0.65157.1        0.65148
50                    91
Name: 14, dtype: object
2003.08.04    2003.08.04
00:00              00:16
0.65122           0.6516
0.65157          0.65167
0.6512            0.6512
0.65157.1        0.65146
50                    80
Name: 15, dtype: object
2003.08.04    2003.08.04
00:00              00:17
0.65122          0.65141
0.65157           0.6515
0.6512           0.65116
0.65157.1        0.65137
50                   180
Name: 16, dtype: object
2003.08.04    2003.08.04
00:00              00:18
0.65122          0.65136
0.65157          0.65162
0.6512           0.65129
0.65157.1        0.65162
50                   122
Name: 17, dtype: object
2003.08.04    2003.08.04
00:00              00:19
0.65122          0.65163
0.65157          0.65163
0.6512           0.65117
0.65157.1        0.65149
50                    86
Name: 18, dtype: object
2003.08.04    2003.08.04
00:00              00:20
0.65122          0.65139
0.65157          0.65152
0.6512           0.65126
0.65157.1        0.65126
50                   195
Name: 19, dtype: object
2003.08.04    2003.08.04
00:00              00:21
0.65122          0.65129
0.65157          0.65148
0.6512           0.65116
0.65157.1        0.65136
50                   202
Name: 20, dtype: object
2003.08.04    2003.08.04
00:00              00:22
0.65122          0.65133
0.65157          0.65155
0.6512           0.65131
0.65157.1        0.65133
50                   289
Name: 21, dtype: object
2003.08.04    2003.08.04
00:00              00:23
0.65122          0.65136
0.65157          0.65172
0.6512           0.65134
0.65157.1        0.65145
50                   119
Name: 22, dtype: object
2003.08.04    2003.08.04
00:00              00:24
0.65122          0.65156
0.65157          0.65156
0.6512           0.65127
0.65157.1        0.65127
50                    97
Name: 23, dtype: object
2003.08.04    2003.08.04
00:00              00:25
0.65122           0.6512
0.65157          0.65147
0.6512            0.6512
0.65157.1        0.65147
50                   704
Name: 24, dtype: object
2003.08.04    2003.08.04
00:00              00:26
0.65122          0.65146
0.65157          0.65155
0.6512           0.65117
0.65157.1        0.65122
50                    97
Name: 25, dtype: object
2003.08.04    2003.08.04
00:00              00:27
0.65122          0.65132
0.65157          0.65158
0.6512           0.65132
0.65157.1        0.65137
50                   103
Name: 26, dtype: object
2003.08.04    2003.08.04
00:00              00:28
0.65122          0.65137
0.65157          0.65139
0.6512           0.65131
0.65157.1        0.65136
50                   184
Name: 27, dtype: object
2003.08.04    2003.08.04
00:00              00:29
0.65122          0.65147
0.65157          0.65152
0.6512           0.65127
0.65157.1        0.65152
50                   147
Name: 28, dtype: object
2003.08.04    2003.08.04
00:00              00:30
0.65122          0.65161
0.65157          0.65161
0.6512           0.65124
0.65157.1        0.65155
50                   203
Name: 29, dtype: object
2003.08.04    2003.08.04
00:00              00:31
0.65122          0.65147
0.65157           0.6516
0.6512           0.65141
0.65157.1        0.65141
50                   207
Name: 30, dtype: object
2003.08.04    2003.08.04
00:00              00:32
0.65122          0.65132
0.65157          0.65141
0.6512           0.65124
0.65157.1        0.65124
50                   248
Name: 31, dtype: object
2003.08.04    2003.08.04
00:00              00:33
0.65122          0.65124
0.65157           0.6515
0.6512           0.65124
0.65157.1        0.65138
50                   207
Name: 32, dtype: object
2003.08.04    2003.08.04
00:00              00:34
0.65122          0.65136
0.65157          0.65144
0.6512           0.65128
0.65157.1        0.65143
50                   265
Name: 33, dtype: object
2003.08.04    2003.08.04
00:00              00:35
0.65122          0.65153
0.65157          0.65159
0.6512           0.65125
0.65157.1        0.65159
50                   106
Name: 34, dtype: object
2003.08.04    2003.08.04
00:00              00:36
0.65122          0.65142
0.65157          0.65153
0.6512            0.6512
0.65157.1        0.65125
50                   606
Name: 35, dtype: object
2003.08.04    2003.08.04
00:00              00:37
0.65122          0.65122
0.65157          0.65165
0.6512           0.65122
0.65157.1        0.65132
50                   138
Name: 36, dtype: object
2003.08.04    2003.08.04
00:00              00:38
0.65122          0.65155
0.65157          0.65162
0.6512           0.65125
0.65157.1        0.65143
50                   111
Name: 37, dtype: object
2003.08.04    2003.08.04
00:00              00:39
0.65122          0.65138
0.65157          0.65155
0.6512           0.65128
0.65157.1         0.6515
50                    88
Name: 38, dtype: object
2003.08.04    2003.08.04
00:00              00:40
0.65122           0.6515
0.65157          0.65153
0.6512           0.65112
0.65157.1        0.65142
50                   236
Name: 39, dtype: object
2003.08.04    2003.08.04
00:00              00:41
0.65122          0.65141
0.65157          0.65159
0.6512           0.65131
0.65157.1        0.65148
50                   126
Name: 40, dtype: object
2003.08.04    2003.08.04
00:00              00:42
0.65122          0.65149
0.65157          0.65149
0.6512           0.65123
0.65157.1        0.65146
50                   219
Name: 41, dtype: object
2003.08.04    2003.08.04
00:00              00:43
0.65122          0.65143
0.65157          0.65144
0.6512           0.65125
0.65157.1        0.65125
50                   231
Name: 42, dtype: object
2003.08.04    2003.08.04
00:00              00:44
0.65122          0.65108
0.65157          0.65132
0.6512           0.65108
0.65157.1        0.65132
50                   567
Name: 43, dtype: object
2003.08.04    2003.08.04
00:00              00:45
0.65122          0.65139
0.65157          0.65162
0.6512           0.65122
0.65157.1        0.65122
50                   144
Name: 44, dtype: object
2003.08.04    2003.08.04
00:00              00:46
0.65122          0.65125
0.65157          0.65149
0.6512           0.65125
0.65157.1        0.65137
50                   251
Name: 45, dtype: object
2003.08.04    2003.08.04
00:00              00:47
0.65122          0.65141
0.65157          0.65159
0.6512           0.65123
0.65157.1        0.65136
50                   198
Name: 46, dtype: object
2003.08.04    2003.08.04
00:00              00:48
0.65122          0.65137
0.65157          0.65155
0.6512           0.65129
0.65157.1        0.65154
50                   742
Name: 47, dtype: object
2003.08.04    2003.08.04
00:00              00:49
0.65122          0.65156
0.65157           0.6516
0.6512           0.65134
0.65157.1        0.65134
50                   449
Name: 48, dtype: object
2003.08.04    2003.08.04
00:00              00:50
0.65122          0.65152
0.65157          0.65167
0.6512           0.65122
0.65157.1        0.65131
50                    94
Name: 49, dtype: object
2003.08.04    2003.08.04
00:00              00:52
0.65122          0.65133
0.65157          0.65143
0.6512           0.65133
0.65157.1        0.65143
50                   239
Name: 50, dtype: object
2003.08.04    2003.08.04
00:00              00:53
0.65122          0.65149
0.65157           0.6517
0.6512           0.65128
0.65157.1        0.65142
50                   107
Name: 51, dtype: object
2003.08.04    2003.08.04
00:00              00:54
0.65122          0.65139
0.65157          0.65155
0.6512           0.65129
0.65157.1        0.65144
50                    94
Name: 52, dtype: object
2003.08.04    2003.08.04
00:00              00:55
0.65122          0.65135
0.65157          0.65152
0.6512           0.65123
0.65157.1        0.65139
50                   202
Name: 53, dtype: object
2003.08.04    2003.08.04
00:00              00:56
0.65122          0.65139
0.65157          0.65154
0.6512           0.65126
0.65157.1        0.65139
50                   141
Name: 54, dtype: object
2003.08.04    2003.08.04
00:00              00:57
0.65122           0.6515
0.65157          0.65171
0.6512           0.65125
0.65157.1        0.65125
50                   312
Name: 55, dtype: object
2003.08.04    2003.08.04
00:00              00:58
0.65122          0.65135
0.65157          0.65148
0.6512           0.65117
0.65157.1        0.65148
50                   239
Name: 56, dtype: object
2003.08.04    2003.08.04
00:00              00:59
0.65122          0.65141
0.65157          0.65152
0.6512           0.65096
0.65157.1        0.65097
50                   379
Name: 57, dtype: object
2003.08.04    2003.08.04
00:00              01:00
0.65122          0.65111
0.65157          0.65113
0.6512           0.65096
0.65157.1        0.65104
50                   118
Name: 58, dtype: object
2003.08.04    2003.08.04
00:00              01:01
0.65122          0.65091
0.65157          0.65109
0.6512           0.65086
0.65157.1        0.65099
50                   682
Name: 59, dtype: object
2003.08.04    2003.08.04
00:00              01:02
0.65122          0.65099
0.65157           0.6511
0.6512           0.65089
0.65157.1        0.65097
50                   151
Name: 60, dtype: object
2003.08.04    2003.08.04
00:00              01:03
0.65122          0.65104
0.65157          0.65112
0.6512           0.65093
0.65157.1        0.65099
50                    87
Name: 61, dtype: object
2003.08.04    2003.08.04
00:00              01:04
0.65122          0.65103
0.65157          0.65117
0.6512           0.65093
0.65157.1        0.65107
50                    85
Name: 62, dtype: object
2003.08.04    2003.08.04
00:00              01:05
0.65122          0.65112
0.65157          0.65112
0.6512           0.65087
0.65157.1        0.65104
50                   208
Name: 63, dtype: object
2003.08.04    2003.08.04
00:00              01:06
0.65122          0.65101
0.65157          0.65114
0.6512           0.65095
0.65157.1        0.65099
50                   213
Name: 64, dtype: object
2003.08.04    2003.08.04
00:00              01:07
0.65122          0.65108
0.65157          0.65108
0.6512           0.65078
0.65157.1        0.65097
50                   208
Name: 65, dtype: object
2003.08.04    2003.08.04
00:00              01:08
0.65122          0.65095
0.65157          0.65105
0.6512            0.6509
0.65157.1        0.65097
50                   223
Name: 66, dtype: object
2003.08.04    2003.08.04
00:00              01:09
0.65122          0.65102
0.65157          0.65105
0.6512            0.6509
0.65157.1        0.65096
50                   329
Name: 67, dtype: object
2003.08.04    2003.08.04
00:00              01:10
0.65122          0.65098
0.65157           0.6511
0.6512           0.65091
0.65157.1        0.65099
50                   127
Name: 68, dtype: object
2003.08.04    2003.08.04
00:00              01:11
0.65122          0.65103
0.65157          0.65111
0.6512           0.65083
0.65157.1        0.65094
50                   206
Name: 69, dtype: object
2003.08.04    2003.08.04
00:00              01:12
0.65122            0.651
0.65157          0.65107
0.6512           0.65082
0.65157.1        0.65092
50                   102
Name: 70, dtype: object
2003.08.04    2003.08.04
00:00              01:13
0.65122          0.65101
0.65157          0.65102
0.6512           0.65084
0.65157.1        0.65084
50                    55
Name: 71, dtype: object
2003.08.04    2003.08.04
00:00              01:14
0.65122          0.65092
0.65157          0.65109
0.6512           0.65086
0.65157.1        0.65093
50                   617
Name: 72, dtype: object
2003.08.04    2003.08.04
00:00              01:15
0.65122          0.65082
0.65157          0.65106
0.6512            0.6508
0.65157.1         0.6509
50                   187
Name: 73, dtype: object
2003.08.04    2003.08.04
00:00              01:16
0.65122          0.65093
0.65157           0.6511
0.6512           0.65084
0.65157.1        0.65103
50                   204
Name: 74, dtype: object
2003.08.04    2003.08.04
00:00              01:17
0.65122          0.65097
0.65157          0.65106
0.6512           0.65082
0.65157.1        0.65106
50                   240
Name: 75, dtype: object
2003.08.04    2003.08.04
00:00              01:18
0.65122          0.65107
0.65157          0.65107
0.6512           0.65098
0.65157.1        0.65101
50                   103
Name: 76, dtype: object
2003.08.04    2003.08.04
00:00              01:19
0.65122          0.65102
0.65157          0.65114
0.6512           0.65095
0.65157.1        0.65095
50                   110
Name: 77, dtype: object
2003.08.04    2003.08.04
00:00              01:20
0.65122          0.65093
0.65157          0.65114
0.6512           0.65093
0.65157.1        0.65095
50                   382
Name: 78, dtype: object
2003.08.04    2003.08.04
00:00              01:21
0.65122          0.65093
0.65157          0.65103
0.6512           0.65086
0.65157.1        0.65095
50                   276
Name: 79, dtype: object
2003.08.04    2003.08.04
00:00              01:22
0.65122          0.65097
0.65157          0.65108
0.6512            0.6509
0.65157.1        0.65101
50                   137
Name: 80, dtype: object
2003.08.04    2003.08.04
00:00              01:23
0.65122          0.65098
0.65157          0.65106
0.6512           0.65088
0.65157.1        0.65102
50                   455
Name: 81, dtype: object
2003.08.04    2003.08.04
00:00              01:24
0.65122          0.65099
0.65157          0.65117
0.6512           0.65094
0.65157.1        0.65106
50                   130
Name: 82, dtype: object
2003.08.04    2003.08.04
00:00              01:25
0.65122          0.65103
0.65157          0.65109
0.6512           0.65092
0.65157.1        0.65097
50                   637
Name: 83, dtype: object
2003.08.04    2003.08.04
00:00              01:26
0.65122          0.65095
0.65157          0.65101
0.6512           0.65087
0.65157.1        0.65087
50                   119
Name: 84, dtype: object
2003.08.04    2003.08.04
00:00              01:27
0.65122          0.65089
0.65157          0.65117
0.6512           0.65089
0.65157.1        0.65105
50                   107
Name: 85, dtype: object
2003.08.04    2003.08.04
00:00              01:28
0.65122          0.65096
0.65157          0.65102
0.6512           0.65094
0.65157.1        0.65094
50                   105
Name: 86, dtype: object
2003.08.04    2003.08.04
00:00              01:29
0.65122          0.65099
0.65157          0.65104
0.6512           0.65092
0.65157.1        0.65092
50                   216
Name: 87, dtype: object
2003.08.04    2003.08.04
00:00              01:30
0.65122          0.65098
0.65157          0.65108
0.6512           0.65083
0.65157.1        0.65083
50                   146
Name: 88, dtype: object
2003.08.04    2003.08.04
00:00              01:31
0.65122          0.65095
0.65157          0.65108
0.6512           0.65093
0.65157.1        0.65099
50                   244
Name: 89, dtype: object
2003.08.04    2003.08.04
00:00              01:32
0.65122          0.65093
0.65157          0.65101
0.6512           0.65087
0.65157.1        0.65095
50                    88
Name: 90, dtype: object
2003.08.04    2003.08.04
00:00              01:33
0.65122          0.65093
0.65157          0.65096
0.6512           0.65091
0.65157.1        0.65096
50                    55
Name: 91, dtype: object
2003.08.04    2003.08.04
00:00              01:34
0.65122          0.65097
0.65157          0.65107
0.6512           0.65081
0.65157.1        0.65099
50                   857
Name: 92, dtype: object
2003.08.04    2003.08.04
00:00              01:35
0.65122          0.65089
0.65157          0.65109
0.6512           0.65087
0.65157.1          0.651
50                   148
Name: 93, dtype: object
2003.08.04    2003.08.04
00:00              01:36
0.65122          0.65099
0.65157          0.65108
0.6512            0.6508
0.65157.1        0.65108
50                   207
Name: 94, dtype: object
2003.08.04    2003.08.04
00:00              01:37
0.65122          0.65096
0.65157          0.65101
0.6512           0.65092
0.65157.1        0.65099
50                   210
Name: 95, dtype: object
2003.08.04    2003.08.04
00:00              01:38
0.65122          0.65091
0.65157          0.65108
0.6512           0.65087
0.65157.1        0.65108
50                   986
Name: 96, dtype: object
2003.08.04    2003.08.04
00:00              01:39
0.65122          0.65107
0.65157          0.65108
0.6512           0.65079
0.65157.1        0.65099
50                   185
Name: 97, dtype: object
2003.08.04    2003.08.04
00:00              01:40
0.65122          0.65093
0.65157          0.65106
0.6512           0.65093
0.65157.1        0.65098
50                   177
Name: 98, dtype: object
2003.08.04    2003.08.04
00:00              01:41
0.65122          0.65094
0.65157           0.6511
0.6512           0.65088
0.65157.1        0.65088
50                   264
Name: 99, dtype: object
2003.08.04    2003.08.04
00:00              01:42
0.65122          0.65096
0.65157          0.65109